html,
body {
  width: 100%;
  height: 100%;
}
.layout {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  background-color: pink;
}
.layout h1 {
  text-align: center;
  border: 1px solid red;
}
.floatBanner {
  width: 100%;
}
.floatBanner ul {
  width: 1000%;
  transform: translateX(-10%);
}
.floatBanner ul li {
  width: 10%;
  float: left;
}
.floatBanner ul li a {
  display: block;
}
.floatBanner ul li a img {
  display: block;
  width: 100%;
}
